html {
  font-family: Georgia, serif;
  color: #efefef;
}

header {
  background-color: #495562;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

.btn-ghost:focus, .btn-ghost:hover {
  color: rgba(73, 85, 98, .9);
  border-color: #fff;
  background-color: #fff;
}

.imgcontainer {
  max-height: 500px;
  overflow: hidden;
}
